.play-button {
    -fx-shape: "M340-236.16v-487.68L723.07-480 340-236.16Z";
}
.play-button:selected {
    -fx-shape: "M560-220v-520h150v520H560Zm-310 0v-520h150v520H250Z";
}
.forward-button {
    -fx-shape: "M264.62,-267.69 v-424.62 h60 v424.62 h-60 Z m147.69,0 L766.54,-480 412.31,-692.31 v424.62 Z";
}
.backward-button {
    -fx-shape: "M-264.62,-267.69 v-424.62 h-60 v424.62 h60 Z m-147.69,0 L-766.54,-480 -412.31,-692.31 v424.62 Z";
}
.mute-button {
    -fx-shape: "M561.54-155.62v-62q86.54-27.53 139.42-100 52.89-72.46 52.89-163.38t-52.89-163.38q-52.88-72.47-139.42-100v-62q111.69 29.92 182 119.92 70.3 90 70.3 205.46 0 115.46-70.3 205.46-70.31 90-182 119.92ZM146.16-380v-200h148.46l171.53-171.53v543.06L294.62-380H146.16Zm415.38 46.15v-294.3q40.46 22 62.54 61.96 22.07 39.96 22.07 86.19 0 45.61-22.27 84.88-22.27 39.27-62.34 61.27Z";
}
.mute-button:selected {
    -fx-shape: "M300-380v-200h148.46L620-751.53v543.06L448.46-380H300Z M300,-380 800,-380 800,-381 300,-381 z";
}
.mute-button:disabled {
    -fx-shape: "M603.69-333.85 561.54-376l104-104-104-104 42.15-42.15 104 104 104-104L853.84-584l-104 104 104 104-42.15 42.15-104-104-104 104ZM146.16-380v-200h148.46l171.53-171.53v543.06L294.62-380H146.16Z";
}
.controls-panel {
    -fx-background-color: rgba( 127 , 127 , 127 , 0.8 ) ;
    -fx-background-radius: 16;
}
.time-label,
.duration-label {
    -fx-text-fill: white;
   /* -fx-effect:  dropshadow(one-pass-box , black , 3 , 3 , 0 , 0 );*/
    -fx-font-family: Monospaced;
    -fx-font-weight: bold;
}
