
.toggle-button .selected-graphics {
    visibility:false;
}
.toggle-button:selected .deselected-graphics {
    visibility:false;
}
.toggle-button:selected .selected-graphics {
    visibility:true;
}

.button .disabled-graphics,
.toggle-button .disabled-graphics {
    visibility:false;
}
.button:disabled .disabled-graphics,
.toggle-button:disabled .disabled-graphics {
    visibility:true;
}
.button:disabled .enabled-graphics,
.toggle-button:disabled .enabled-graphics {
    visibility:false;
}