/* empty */
ToggleButton .unselected-graphics {
    visibility:true;
}
ToggleButton .selected-graphics {
    visibility:false;
}
ToggleButton:selected .unselected-graphics {
    visibility:false;
}
ToggleButton:selected .selected-graphics {
    visibility:true;
}